<nav class="col-md-2 d-none d-md-block sidebar bg-light border rounded">
    <div class="sidebar-sticky">
        <h5 class="mt-3">Navigation</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active border-bottom" href="/Admin/UserManagement">
                    User Management<span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom" href="/Admin/CreateAdmin">
                    Create Admin Account
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom" href="/Admin/UserOrders">
                    User Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom" href="/Admin/ChangePrices">
                    Change Prices
                </a>
            </li>
            <!-- Add more links for other pages -->
        </ul>
    </div>
</nav>
