@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="jumbotron">
        <strong><h1 class="display-4">About</h1></strong>
        <p>Welcome to the ultimate destination for drum enthusiasts - Our Drum Webshop! We are dedicated to providing drummers of all levels with top-quality drum equipment and accessories.</p>
        <p>Our mission is to inspire drummers, from beginners to professionals, to find their perfect sound and express their musical creativity. With a wide selection of drums, cymbals, hardware, and accessories, we strive to cater to the diverse needs and preferences of every drummer.</p>
        <h2 class="mt-5 mb-3">Our Commitment to Quality</h2>
        <p>At Our Drum Webshop, quality is our top priority. We carefully curate our collection from renowned drum manufacturers known for their craftsmanship and innovation. Whether you're looking for the warmth of vintage drums or the cutting-edge technology of modern percussion, we have something for everyone.</p>
        <h2 class="mt-5 mb-3">Expert Advice and Support</h2>
        <p>Our team consists of passionate drummers who are dedicated to helping you make the right choices for your musical journey. From selecting the perfect drum kit to fine-tuning your setup, we offer expert advice and support every step of the way.</p>
        <h2 class="mt-5 mb-3">Community and Collaboration</h2>
        <p>At Our Drum Webshop, we believe in the power of community and collaboration. We actively engage with our customers through online forums, workshops, and events, fostering a vibrant community of drummers who share their knowledge, experiences, and passion for drumming.</p>
        <p>Whether you're a solo performer, a member of a band, or just starting out on your drumming journey, Our Drum Webshop is here to support you every beat of the way. Join us and discover the rhythm of your soul!</p>

    </div>
</div>
